.input-class {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input[type="number"] {
  outline: none;
  width: 80%;
  margin: auto;
  background-color: white;
  border: 2px solid rgb(174, 174, 174);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}
